<div class="header-brejas">
  <div class="imagem-logo"></div>
  <h1 class="titulo-principal">Brejas Artesanais</h1>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link active cor-menus" href="#">Home</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle cor-menus" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Estilos</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item cor-menus" href="#">Puro Malte</a>
            <a class="dropdown-item cor-menus" href="#">Ipa's</a>
            <a class="dropdown-item cor-menus" href="#">Para o Calor</a>
            <a class="dropdown-item cor-menus" href="#">Para o Frio</a>
            <a class="dropdown-item cor-menus" href="#">Witbier</a>
            <a class="dropdown-item cor-menus" href="#">Belgas</a>
            <a class="dropdown-item cor-menus" href="#">Alemãs</a>
            <a class="dropdown-item cor-menus" href="#">Inglesas</a>
            <a class="dropdown-item cor-menus" href="#">Brasileiras</a>
            <a class="dropdown-item cor-menus" href="#">Melhor Custo Benefício</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>
