.header-brejas {
  font-family: "Times New Roman", Times, serif;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(245, 243, 96, 1) 25%,
    rgba(202, 97, 14, 1) 100%
  );
  display: flex;
  height: 5rem;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #666666;
  box-shadow: 0px 0px 8px 2px #000000;
}
.header-brejas .titulo-principal {
  font-size: 1.2rem;
  font-weight: bold;
  color: #8a180d;
  margin: 0 1rem;
}
.header-brejas .menu-desktop {
  display: none;
}
/* Menu Mobile */
.menu-mobile {
  display: block;
}

@media (min-width: 1024px) {
  .menu-mobile {
    display: none;
  }
}
.menu-mobile .menu-suspenso {
  margin: 0 1.4rem;
  list-style: none;
  padding: 0;
}
.menu-suspenso li {
  position: relative;
}
.menu-suspenso li ul {
  position: absolute;
  top: 4.25rem;
  left: -14rem;
  background-color: #f9b907;
  display: none;
  z-index: 1;
}
.menu-suspenso li:hover ul,
.menu-suspenso li.over ul {
  display: flex;
  flex-direction: column;
  top: 3.2rem;
  width: 16rem;
  padding: 0;
  border-radius: 0 0 0.5rem 0.5rem;
  border: 1px solid;
}

.menu-suspenso li ul li {
  border-bottom: 0.12rem solid #666666;
  list-style-type: none;
}
.menu-suspenso li a {
  color: #8a180d;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  display: block;
  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
}
@media (min-width: 768px) {
  .header-brejas {
    background-position: center;
  }
  .header-brejas .titulo-principal {
    font-size: 1.5rem;
    margin: 0 2rem;
  }
}
/* FIM MENU MOBILE */

/* MENU DESKTOP */
@media (min-width: 1024px) {
  .header-brejas {
    justify-content: space-between;
    height: 10rem;
    background-color: #e9ecef;
    padding-left: 8rem;
  }
  .header-brejas .titulo-principal {
    font-size: 2.5rem;
    margin: 0;
  }
  .header-brejas .menu-desktop {
    display: block;
    font-size: 1.5rem;
  }
  .header-brejas .menu-desktop div ul li {
    margin-right: 2rem;
  }
  .cor-menus {
    color: #8a180d !important;
    font-weight: 600;
  }
  .d-flex-estilos {
    display: flex;
    align-items: center;
  }
  .dropdown-menu {
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(232,194,25,1) 50%, rgba(222,150,6,1) 100%);
    left: -10rem;
    font-size: 1.2rem;
  }
  .dropdown-menu a:hover {
    background-color: #dcdcdc;
    font-weight: bold;
    color: #ca610e !important;
  }
}
