.footer-brejas {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-image: url("/assets/img/3_copos.jpg");
  background-size: 50% 100%;
  background-position: center, top;
  height: 8rem;
  overflow: auto;
}
p{
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.5rem;
}
p .pula-linha{
  display: block;
}
p .divisor{
  display: none;
}

@media (min-width: 768px) {
  .footer-brejas {
    height: 15rem;
  }
  p{
    font-size: 1.5rem;
  }

}

@media (min-width: 1024px) {
  .footer-brejas {
    height: 18rem;
    background-size: 45% 100%;
  }
  p{
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }
  p .pula-linha{
    display: none;
  }
  p .divisor{
    display: inline;
  }
}

@media (min-width: 1440px) {
  .footer-brejas {
    height: 22rem;
    background-size: 36% 100%;
  }
  p{
    font-size: 2rem;
  }
}
