<div class="box-video">
  <iframe class="video-cheers" width="560" height="315" src="https://www.youtube.com/embed/4ZFo3YZXDxo" title="Cheers"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
</div>
<div class="box-principal">
  <h1>Procurando a cerveja artesanal perfeita?</h1>
  <div class="artesanal-perfeita">
    <div class="img-duvida">
      <img class="tamanho-img" src="assets/img/duvida_cerveja.jpg">
    </div>
    <div class="text-explicacao">
      <p>Aqui você poderá conhecer um pouco mais sobre aquela cerveja que você está na dúvida de comprar.<br><br>
        Confira os tipos, cor, amargor, teor alcoólico e o copo ideal para degustação.<br><br>
        Separamos 10 opções de cervejas para você conferir. Aquelas cervejas ideais para os dias de calor ou para os
        dias de frio, as cervejas mais consumidas por pais e também as mais consumidas por estilos.<br><br>
        Por último mas não menos importante, se liga na opção das cervejas com ótimo custo-benefício.</p>
    </div>
  </div>
</div>

