<div id="carouselExampleIndicators" class="carousel slide carousel-brejas" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active img-brejas">
      <img class="d-block w-100" src="/assets/img/Cervejas-Alemas.jpg" alt="Primeiro Slide">
      <div class="carousel-caption d-none d-md-block">
        <h5>Cervejas Alemãs</h5>
      </div>
    </div>
    <div class="carousel-item img-brejas">
      <img class="d-block w-100" src="/assets/img/Cervejas-Belgas.jpg" alt="Segundo Slide">
      <div class="carousel-caption d-none d-md-block">
        <h5>Cervejas Belgas</h5>
      </div>
    </div>
    <div class="carousel-item img-brejas">
      <img class="d-block w-100" src="/assets/img/Cervejas-Brasileiras.jpg" alt="Terceiro Slide">
      <div class="carousel-caption d-none d-md-block">
        <h5>Cervejas Brasileiras</h5>
      </div>
    </div>
    <div class="carousel-item img-brejas">
      <img class="d-block w-100" src="/assets/img/Cervejas-Inglesas.png" alt="Terceiro Slide">
      <div class="carousel-caption d-none d-md-block">
        <h5>Cervejas Inglesas</h5>
      </div>
    </div>
    <div class="carousel-item img-brejas">
      <img class="d-block w-100" src="/assets/img/Cervejas-IPAs.jpg" alt="Terceiro Slide">
      <div class="carousel-caption d-none d-md-block">
        <h5>Cervejas IPA's</h5>
      </div>
    </div>
    <div class="carousel-item img-brejas">
      <img class="d-block w-100" src="/assets/img/Cervejas-para-o-calor.jpg" alt="Terceiro Slide">
      <div class="carousel-caption d-none d-md-block">
        <h5>Cervejas para o Calor</h5>
      </div>
    </div>
    <div class="carousel-item img-brejas">
      <img class="d-block w-100" src="/assets/img/Cervejas-para-o-frio.jpg" alt="Terceiro Slide">
      <div class="carousel-caption d-none d-md-block">
        <h5>Cervejas para o Frio</h5>
      </div>
    </div>
    <div class="carousel-item img-brejas">
      <img class="d-block w-100" src="/assets/img/Cervejas-Puro-Malte.jpg" alt="Terceiro Slide">
      <div class="carousel-caption d-none d-md-block">
        <h5>Cervejas Puro Malte</h5>
      </div>
    </div>
    <div class="carousel-item img-brejas">
      <img class="d-block w-100" src="/assets/img/Cervejas-Witbier.jpg" alt="Terceiro Slide">
      <div class="carousel-caption d-none d-md-block">
        <h5>Cervejas Witbier</h5>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Próximo</span>
  </a>
</div>
